<h2 class="text-center">User Login</h2>
<form [formGroup]="loginForm" (ngSubmit)="OnSubmit()" class="col-md-6 offset-md-3">
  <div class="form-group row">
    <label class="col">
      Email
      <input type="email" class="form-control" formControlName="email">
    </label>
  </div>
  <div class="alert alert-danger" role="alert" *ngIf="loginForm.get('email').invalid && loginForm.get('email').touched">
    <span *ngIf="loginForm.get('email').hasError('required')">Email is required</span>
    <span *ngIf="loginForm.get('email').hasError('email')">Email is invalid</span>
  </div>
  <div class="form-group row">
    <label class="col">
      Password
      <input type="password" class="form-control" formControlName="password">
    </label>
  </div>
  <div class="alert alert-danger" role="alert" *ngIf="loginForm.get('password').invalid && loginForm.get('password').touched">
    <span *ngIf="loginForm.get('password').hasError('required')">Email is required</span>
    <span *ngIf="loginForm.get('password').hasError('minlength')">Email have minlength is 6</span>
  </div>
  <div class="form-group">
    <button class="btn btn-info" type="submit">Submit</button>
  </div>
</form>
